<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META NAME="keywords" CONTENT="日本オペレーションズ・リサーチ学会,OR,日本OR学会,学会,OR学会,中国・四国支部">
<META NAME="description" CONTENT="（社）日本オペレーションズ・リサーチ学会　中国・四国支部に関する情報およびご連絡．">
<title>{{ page.title }}</title>
<LINK REL="stylesheet" TYPE="text/css" HREF="{{ site.baseurl }}/css/base.css">
</head>
<body>
<div class="logo">
<a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/images/logo.gif"></a>
</div>
<h1>{{ page.title }}</h1>

	{{ content }}

<hr/>
<address>
日本オペレーションズ・リサーチ学会 中国・四国支部事務局(o&#114;&#115;&#106;&#46;c&#104;u&#115;h&#105;&#107;&#111;ku&#64;&#103;mail.&#99;om)
</address>
<p><script type="text/javascript" src="{{ site.baseurl }}/js/update_date.js"></script></p>
</body>
</html>
